#quote-box {
  background: white;
  border: 5px solid rgb(57, 57, 185);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

#text {
  color: rgb(126, 126, 202);
  padding: 0 20px;
}

#author {
  color: rgb(126, 126, 202);
  padding: 0 20px;
  text-align: right;
}

#tweet-quote {
  padding: 0 5px 0 0;
}

#tumblr-quote {

}

#new-quote {
  display: absolute;
  float: right;
  color: white;
  background: rgb(126, 126, 202);
  padding: 10px;
  margin: 10px;
}